<h1> <%= @user.username %> </h1>
<hr>
<%= link_to 'Create Album', new_user_album_path(@user) %>

<!-- Uploaded Images -->
<% if @user.images.any? %>
  <h2><%= @user.username %>'s images:</h2>
  <ul>
    <% @user.images.each do |image| %>
      <li>
        <%= link_to image_path(image) do %>
          <%= image_tag image.pic.url(:medium) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<!-- Tagged Images -->
<% if @tagged_images.any? %>
  <hr>
  <h2>Images <%= @user.username %> is tagged in:</h2>
  <ul>
    <% @tagged_images.each do |image| %>
      <li>
        <%= link_to image_path(image) do %>
          <%= image_tag image.pic.url(:medium) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<!-- Albums -->
<% if @user.albums.any? %>
  <hr>
  <h2>Albums:</h2>
  <% @user.albums.each do |album| %>
    <h4> <%= album.name  %> </h4>
    <%= link_to (image_tag album.images.sample(1).first.pic), user_album_path(@user, album) %>
  <% end  %>
<% end %>

<!-- Favorites -->
<% if @user.favorites.any? %>
  <hr>
  <h2>Favorites:</h2>
  <% @user.favorites.each do |favorite| %>
    <%= link_to (image_tag favorite.image.pic), image_path(favorite.image) %>
    <h4> By <%= favorite.image.user.username  %> </h4>
  <% end  %>
<% end %>
