<h1> <%= @user.username %> </h1>
<hr>
<%= link_to 'Create Album', new_user_album_path(@user) %>

<% if @user.images.any? %>
  <h2><%= @user.username %>'s images:</h2>
  <ul>
    <% @user.images.each do |image| %>
      <li>
        <%= link_to image_path(image) do %>
          <%= image_tag image.pic.url(:medium) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<hr>

<% if @tagged_images.any? %>
  <h2>Images <%= @user.username %> is tagged in:</h2>
  <ul>
    <% @tagged_images.each do |image| %>
      <li>
        <%= link_to image_path(image) do %>
          <%= image_tag image.pic.url(:medium) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>


<% @user.albums.each do |album| %>
  <%= link_to (image_tag album.images.sample(1).first.pic), user_album_path(@user, album) %>
<% end  %>
