<h3><%= @image.title %></h3>

<%= image_tag @image.pic %>
<p>
  <%= @image.caption %>
</p>

<% if current_user && current_user.id == @image.user_id %>
  <%= link_to 'Edit', edit_image_path(@image) %> |
  <%= link_to 'Delete', image_path(@image),
                        :data => {:confirm => 'Are you sure?',
                                  :method => 'delete'}%>
<% end %>

<% if @image.album %>
  <h3>Included in: <%= link_to @image.album.name, user_album_path(@image.album.user, @image.album) %></h3>

<% end %>

<% if @image.tags.any? %>
  <h4>Tagged Users:</h4>
  <% @image.tags.each do |tag| %>
    <h5>
      <%= tag.user.username %>
      <% if tag.user == current_user %>
        <%= link_to 'Delete', tag_path(tag), :data => {:method => 'delete'} %>
      <% end %>
    </h5>
  <% end %>
<% end %>

<h4>Tag:</h4>
<%= form_for @tag do |f| %>
  <div class='form-group'>
    <%= f.hidden_field :image_id, value: @image.id %>
    <%= f.label :user %>
    <%= f.select :user_id, @users.collect { |u| [ u.username, u.id ] }, include_blank: true %>
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
