<h3>
  <%= @image.title %>
  <small>By <%= link_to @image.user.username, user_path(@image.user) %></small>
</h3>

<%= image_tag @image.pic %>
<p>
  <%= @image.caption %>
</p>

<% if current_user && current_user.id == @image.user_id %>
  <%= link_to 'Edit', edit_image_path(@image) %> |
  <%= link_to 'Delete', image_path(@image),
                        :data => {:confirm => 'Are you sure?',
                                  :method => 'delete'}%>
<% end %>

<% if @image.album %>
  <h3>Included in: <%= link_to @image.album.name, user_album_path(@image.album.user, @image.album) %></h3>

<% end %>

<% if @image.tags.any? %>
  <div id="tagged-users">
    <h4>Tagged Users:</h4>
    <% @image.tags.each do |tag| %>
      <h5>
        <%= tag.user.username %>
        <% if tag.user == current_user %>
          <%= link_to 'Delete', tag_path(tag), :data => {:method => 'delete'}, :class => 'delete-tag' %>
        <% end %>
      </h5>
    <% end %>
  </div>
<% end %>

<h4>Tag:</h4>
<%= form_for @tag do |f| %>
  <div class='form-group'>
    <%= f.hidden_field :image_id, value: @image.id %>
    <%= f.label :user %>
    <%= f.select :user_id, @users.collect { |u| [ u.username, u.id ] }, include_blank: true %>
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>

<% if @image.favorites.any? %>
  <div id='favorites-listing'>
    <% @image.favorites.each do |favorite| %>
      <%= link_to user_path(favorite.user) do %>
        <%= fa_icon 'heart-o 2x' %>
        <%= favorite.user.username %>
      <% end %>
    <% end %>
  </div>
<% end %>

<h4>Favorite</h4>
<button class='btn btn-success'>
 <%= link_to (fa_icon 'heart-o 2x'), {action: :create, controller: :favorites, favorite: {user_id: current_user.id, image_id: @image.id}}, method: :post, id: 'make-favorite' %>
</button>

<h4>Comment</h4>
<%= form_for @comment do |f| %>
  <%= f.label :content %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :commentable_id, value: @image.id %>
  <%= f.hidden_field :commentable_type, value: "images" %>
  <%= f.text_field :content %>
  <%= f.submit class: 'btn btn-success' %>
<% end %>

<% @image.comments.each do |comment| %>
  <%= comment.content %>
<% end %>
